.dragged {
  background: #fff;
  position: absolute;
  z-index: 99999;

  td {
    display: none;

    &:first-child {
      display: table-cell;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:last-child {
      display: table-cell;
    }
  }
}

.drop {
  background: #ccc;
}

.drop_after td {
  position: relative;

  &::after {
    background: red;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 4px;
  }
}

.drop_before td {
  position: relative;

  &::before {
    background: red;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 4px;
  }
}